<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/css/vendor/framework7.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
</head>
<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>

    <div class="views">
        <div class="view view-left navbar-through">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding">
                        <img src="static/img/dommy.png" style="height:100px;" />
                    </div>
                </div>
            </div>

            <div class="pages">
                <div class="cart page" data-page="index-left">
                    <div class="page-content">
                        <div class="content-block-title">Your Items</div>
                        <div class="list-block">
                            <ul id="user-cart">
                                
                            </ul>
                        </div>
                        <div class="content-block-title">Total: $<span id="cart-total">0</span></div>

                        <div class="list-block">
                        <ul>
                            <li>
                                <a href="carts.html" id="other_carts" class="item-link" data-page="carts">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Other Carts</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        </div>
                        <div class="content-block">
                            <a href="#" class="button button-big button-fill" onclick="showText()" id="checkout-btn">Checkout</a>
                            <form id="checkout" method="POST" action="/checkout" style="display: none">  
                                <div id="dropin" style="padding-top: 25px; padding-bottom: 15px"></div>
                                <input type="submit" value="Complete" class="button">
                            </form>

                            <a href="#" id="clear" class="button button-big" onClick="showCheckout()">Clear</a>
                        </div>

                        <div class="content-block">
                            <a>
                                <img src="static/img/rep.png" style="text-align:center; margin-left:20px; margin-top:-40px;" />
                                <a href="#" id="start-togetherjs" class="button button-big">
                                    <i class="fa fa-phone"></i> Connect with a Representative
                                </a>
                            </a>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="view view-main navbar-through">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding">
                        <img src="static/img/logos/mcdonalds.png" style="height:100px;" />
                    </div>
                </div>
            </div>

            <div class="pages">
                <div class="page" data-page="index-1">
                    <div class="page-content">

                        <div class="content-block">
                            <div id="category-list" class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="category_template">
        <a href="category.html?name=<%= title %>"><div class="card card-header-pic">
            <div style="background-image:url('<%= imagelink %>')" valign="bottom" class="card-header color-black no-border">
                <span class=""><%= title %></span>
            </div>
            <div class="card-content">
                <div class="card-content-inner">
                    <p><%= description %></p>
                </div>
            </div>
        </div></a>
    </script>

    <script type="text/template" id="item_template">
        <div class="card card-header-pic">
            <div style="background-image:url('<%= imagelink %>');background-position:20% 10%; " valign="bottom" class="card-header no-border">
            </div>
            <div class="card-content">
                <div class="card-content-inner">
                    <p><big><strong><%= name %> ($<%= price %>)</strong></big></p>
                    <p><%= description %></p>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="cart_template">
        <div class="item-content swipeout-content">
            <div class="item-inner">
                <div class="item-title"><%= title %></div>
                <div class="item-after">$<%= price %></div>
            </div>
        </div>
        <div class="swipeout-actions-right">
            <a href="#" class="action1 bg-red" onclick="showCheckout()">Remove</a>
        </div>
    </script>

    <script type="text/template" id="other_cart_template">
        <div class="content-block-title">John Doe</div>
        <div class="list-block">
            <ul>
                <% _.each(data, function(item) { %>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">
                                <%= item.name %>
                            </div>
                            <div class="item-label">
                                <%= item.price %>
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </script>

    <script src="static/js/vendor/framework7.min.js"></script>

    <script src="static/js/vendor/jquery.min.js"></script>
    <script src="static/js/vendor/underscore.js"></script>
    <script src="static/js/vendor/backbone.js"></script>
    <script src="static/js/vendor/store.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
    <!-- BackboneFire -->
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>

    <script>
        var TogetherJSConfig_toolName = "DriveThru Plus Help";
    </script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>

    <script src="static/js/models/category.js"></script>
    <script src="static/js/models/item.js"></script>
    <script src="static/js/collections/categories.js"></script>
    <script src="static/js/collections/items.js"></script>
    <script src="static/js/collections/cart.js"></script>
    <script src="static/js/views/categoryview.js"></script>
    <script src="static/js/views/itemview.js"></script>
    <script src="static/js/views/itemitemview.js"></script>
    <script src="static/js/views/cart.js"></script>
    <script src="static/js/views/cartitemview.js"></script>
    <script src="static/js/views/app.js"></script>
    <script src="static/js/main.js"></script>

    <!-- Brain Tree PayPal -->
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</body>
</html>